NodeRED Flows/main.json
[{"id":"2bfab65f.0b09ca","type":"tab","label":"HomepageModel","disabled":false,"info":""},{"id":"ef933abb.8a0db8","type":"ui_gauge","z":"2bfab65f.0b09ca","name":"","group":"e188993a.dcd438","order":10,"width":"8","height":"4","gtype":"gage","title":"","label":"m/s","format":"{{value}}","min":0,"max":"15","colors":["#30336b","#30336b","#30336b"],"seg1":"","seg2":"","x":868.6000595092773,"y":163.40001487731934,"wires":[]},{"id":"c8b893a.3a9e57","type":"inject","z":"2bfab65f.0b09ca","name":"","topic":"","payload":"","payloadType":"date","repeat":"10800","crontab":"","once":true,"onceDelay":0.1,"x":99.60000610351562,"y":194.00000190734863,"wires":[["9b81d051.661a5"]]},{"id":"1ae5d52e.743b2b","type":"function","z":"2bfab65f.0b09ca","name":"Wind Speed","func":"msg.payload = msg.payload.wind.speed\n\nreturn msg;","outputs":1,"noerr":0,"x":512.6000595092773,"y":163.00000667572021,"wires":[["41d5257b.b377dc"]]},{"id":"e0e08cf5.785c2","type":"http request","z":"2bfab65f.0b09ca","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=yalova&appid=10a3f0449cc6a0d812a10f8c8cbffe2a","tls":"","persist":true,"proxy":"","authType":"","x":304.00000762939453,"y":214.00000858306885,"wires":[["6534033e.fd1bac"]]},{"id":"6534033e.fd1bac","type":"json","z":"2bfab65f.0b09ca","name":"String => JSON","property":"payload","action":"","pretty":true,"x":493.00000762939453,"y":214.0000057220459,"wires":[["1ae5d52e.743b2b","f897bcd3.eaa39","c6ac9af4.b44188","fb94a258.baf5a"]]},{"id":"7de68e30.ee0ed","type":"ui_template","z":"2bfab65f.0b09ca","group":"4e0a453e.2e65fc","name":"","order":11,"width":"5","height":"4","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":135.6000633239746,"y":433.40001010894775,"wires":[[]]},{"id":"50a02d57.d18e24","type":"template","z":"2bfab65f.0b09ca","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<html>\n  <head>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n<body>\n  <br>\n  <p><b>Weather: </b>{{{weather}}}</p><br>\n  <p><b>Temperature: </b>{{{temp}}} F</p><br>\n  <p><b>Pressure: </b>{{{pressure}}} mbar</p><br>\n  <p><b>Humidity: </b>{{{humidity}}}%</p><br>\n  \n  <script>{{{payload.script}}}</script>\n</body>\n\n</html>\n","x":129.00000762939453,"y":391.0000104904175,"wires":[["7de68e30.ee0ed"]]},{"id":"2c225417.70ec2c","type":"template","z":"2bfab65f.0b09ca","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"const toggle = document.getElementById('toggle');\nconst close = document.getElementById('close');\nconst open = document.getElementById('open');\nconst modal = document.getElementById('modal');\n\n// Toggle nav\ntoggle.addEventListener('click', () =>\n  document.body.classList.toggle('show-nav')\n);\n\n// Show modal\nopen.addEventListener('click', () => modal.classList.add('show-modal'));\n\n// Hide modal\nclose.addEventListener('click', () => modal.classList.remove('show-modal'));\n\n// Hide modal on outside click\nwindow.addEventListener('click', e =>\n  e.target == modal ? modal.classList.remove('show-modal') : false\n);\n\n\nwindow.onscroll = function () { scrollFunction() };\n\nfunction scrollFunction() {\n  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {\n    document.getElementById(\"navbar\").style.top = \"0\";\n  } else {\n    document.getElementById(\"navbar\").style.top = \"-50px\";\n  }\n}","x":128,"y":310.00000858306885,"wires":[["fc97df00.2e983"]]},{"id":"fc97df00.2e983","type":"template","z":"2bfab65f.0b09ca","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');\n\n:root {\n  --modal-duration: 1s;\n  --primary-color: #30336b;\n  --secondary-color: #be2edd;\n}\n\n* {\n  box-sizing: border-box;\n}\n\nbody {\n  font-family: 'Poppins', sans-serif;\n  margin: 0;\n  transition: transform 0.3s ease;\n}\n\nbody.show-nav {\n  /* Width of nav */\n  transform: translateX(200px);\n}\n\nnav {\n  background-color: var(--primary-color);\n  border-right: 2px solid rgba(200, 200, 200, 0.1);\n  color: #fff;\n  position: fixed;\n  top: 0;\n  left: 0;\n  width: 200px;\n  height: 100vh;\n  z-index: 100;\n  transform: translateX(-100%);\n}\n\nnav .logo {\n  padding: 30px 0;\n  text-align: center;\n}\n\nnav .logo img {\n  height: 75px;\n  width: 75px;\n  border-radius: 50%;\n}\n\nnav ul {\n  padding: 0;\n  list-style-type: none;\n  margin: 0;\n}\n\nnav ul li {\n  border-bottom: 2px solid rgba(200, 200, 200, 0.1);\n  padding: 20px;\n}\n\nnav ul li:first-of-type {\n  border-top: 2px solid rgba(200, 200, 200, 0.1);\n}\n\nnav ul li a {\n  color: #fff;\n  text-decoration: none;\n}\n\nnav ul li a:hover {\n  text-decoration: underline;\n}\n\nheader {\n  background-image: url(\"https://i.ibb.co/MkL5qqL/Webp-net-resizeimage-1.jpg\");\n  background-repeat: no-repeat;\n  background-size: 100% 100%;\n  color: #fff;\n  font-size: 130%;\n  position: relative;\n  padding: 40px 15px;\n  text-align: center;\n}\n\nheader h1 {\n  margin: 0;\n}\n\nheader p {\n  margin: 30px 0;\n}\n\nbutton,\ninput[type='submit'] {\n  background-color: var(--secondary-color);\n  border: 0;\n  border-radius: 5px;\n  color: #fff;\n  cursor: pointer;\n  padding: 8px 12px;\n}\n\nbutton:focus {\n  outline: none;\n}\n\nfooter {\n  text-align: center;\n  padding: 3px;\n  background-color: var(--primary-color);\n  color: #fff;\n}\n\n.toggle {\n  background-color: rgba(0, 0, 0, 0.3);\n  position: absolute;\n  top: 20px;\n  left: 20px;\n}\n\n.cta-btn {\n  padding: 12px 30px;\n  font-size: 20px;\n}\n\n.container {\n  padding: 15px;\n  margin: 0 auto;\n  max-width: 100%;\n  width: 800px;\n}\n\n.modal-container {\n  background-color: rgba(0, 0, 0, 0.6);\n  display: none;\n  position: fixed;\n  top: 0;\n  left: 0;\n  right: 0;\n  bottom: 0;\n}\n\n.modal-container.show-modal {\n  display: block;\n}\n\n.modal {\n  background-color: #fff;\n  border-radius: 5px;\n  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);\n  position: absolute;\n  overflow: hidden;\n  top: 50%;\n  left: 50%;\n  transform: translate(-50%, -50%);\n  max-width: 100%;\n  width: 400px;\n  animation-name: modalopen;\n  animation-duration: var(--modal-duration);\n}\n\n.modal-header {\n  background: var(--primary-color);\n  color: #fff;\n  padding: 15px;\n}\n\n.modal-header h3 {\n  margin: 0;\n  border-bottom: 1px solid #333;\n}\n\n.modal-content {\n  padding: 20px;\n}\n\n.modal-form div {\n  margin: 15px 0;\n}\n\n.modal-form label {\n  display: block;\n  margin-bottom: 5px;\n}\n\n.modal-form .form-input {\n  padding: 8px;\n  width: 100%;\n}\n\n.close-btn {\n  background: transparent;\n  font-size: 25px;\n  position: absolute;\n  top: 0;\n  right: 0;\n}\n\n@keyframes modalopen {\n  from {\n    opacity: 0;\n  }\n\n  to {\n    opacity: 1;\n  }\n}\n#navbar {\n  background-color: var(--primary-color); /* Black background color */\n  position: fixed; /* Make it stick/fixed */\n  top: -50px; /* Hide the navbar 50 px outside of the top view */\n  width: 100%; /* Full width */\n  transition: top 0.3s; /* Transition effect when sliding down (and up) */\n}\n\n/* Style the navbar links */\n#navbar a {\n  float: left;\n  display: block;\n  color: white;\n  text-align: center;\n  padding: 15px;\n  text-decoration: none;\n}\n\n#navbar a:hover {\n  background-color: #ddd;\n  color: black;\n}\n","x":129.00000762939453,"y":350.00000953674316,"wires":[["50a02d57.d18e24"]]},{"id":"f897bcd3.eaa39","type":"function","z":"2bfab65f.0b09ca","name":"Weather Report","func":"msg1 = {}\nmsg1[\"weather\"] = msg.payload.weather[0].main;\nmsg1[\"temp\"] = msg.payload.main.temp;\nmsg1[\"pressure\"] = msg.payload.main.pressure;\nmsg1[\"humidity\"] = msg.payload.main.humidity;\n// global.set(\"power\",msg.payload.values[0][0]);\nreturn msg1;","outputs":1,"noerr":0,"x":128.00000762939453,"y":269.00000762939453,"wires":[["2c225417.70ec2c"]]},{"id":"2291bbb.bb29444","type":"ui_gauge","z":"2bfab65f.0b09ca","name":"","group":"d33212ee.0d6ab","order":0,"width":"5","height":"4","gtype":"compass","title":"","label":"degrees","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":871.6000595092773,"y":118.4000129699707,"wires":[]},{"id":"c6ac9af4.b44188","type":"function","z":"2bfab65f.0b09ca","name":"Wind Direction","func":"msg.payload = msg.payload.wind.deg\n\n\nreturn msg;","outputs":1,"noerr":0,"x":517.0000076293945,"y":119.00000858306885,"wires":[["a094017a.9e44a"]]},{"id":"fb94a258.baf5a","type":"function","z":"2bfab65f.0b09ca","name":"PreToken","func":"global.set(\"spd\",msg.payload.wind.speed)\nglobal.set(\"dir\",msg.payload.wind.deg)\nvar apikey=\"g-5r8T9LLSzpixVczkuo2NDWCCNVWZpEEJMcgv6dGVbX\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":507.00000762939453,"y":284.00000381469727,"wires":[["c3518ee8.a7f8f"]]},{"id":"c3518ee8.a7f8f","type":"http request","z":"2bfab65f.0b09ca","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":510.99996185302734,"y":328.00000762939453,"wires":[["c7d2d9fe.67ff58"]]},{"id":"c7d2d9fe.67ff58","type":"function","z":"2bfab65f.0b09ca","name":"Pre Prediction","func":"var spd = global.get('spd')\nvar dir = global.get('dir')\nvar token=msg.payload.access_token\nvar instance_id=\"54cebaa7-c311-4633-9218-d1ac172b925c\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"WindSpeed\", \"WindDirection\"], \"values\": [[spd,dir]]}\nreturn msg;","outputs":1,"noerr":0,"x":515.9999160766602,"y":377.00000953674316,"wires":[["c4c4db80.ca58e8"]]},{"id":"c4c4db80.ca58e8","type":"http request","z":"2bfab65f.0b09ca","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/54cebaa7-c311-4633-9218-d1ac172b925c/deployments/7af8ee21-4f12-4d76-873a-f5dcb625b64f/online","tls":"","persist":false,"proxy":"","authType":"basic","x":519.4999160766602,"y":427.0000057220459,"wires":[["36404e6b.765b02","40488bd.e7f4674"]]},{"id":"36404e6b.765b02","type":"function","z":"2bfab65f.0b09ca","name":"Fetch Predictions","func":"\nmsg.payload = msg.payload.values[0][0]\nvar p11 = msg.payload\nglobal.set(\"p11\", p11)\n\nreturn msg;","outputs":1,"noerr":0,"x":513.6002044677734,"y":471.6000061035156,"wires":[["7e253cc0.d72b44"]]},{"id":"40488bd.e7f4674","type":"debug","z":"2bfab65f.0b09ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":764.6000595092773,"y":472.00000762939453,"wires":[]},{"id":"347afe5c.b64ed2","type":"ui_gauge","z":"2bfab65f.0b09ca","name":"","group":"25724dff.d7a4c2","order":0,"width":"18","height":"5","gtype":"gage","title":"","label":"kW","format":"{{value}}","min":0,"max":"2500","colors":["#cc2828","#e48921","#42db24"],"seg1":"150","seg2":"1500","x":748.6000595092773,"y":517.4000072479248,"wires":[]},{"id":"7e253cc0.d72b44","type":"function","z":"2bfab65f.0b09ca","name":"","func":"msg.payload = Math.round(msg.payload)\nmsg.topic = \"POWER TOO LOW!\"\nreturn msg;","outputs":1,"noerr":0,"x":493.60005950927734,"y":518.0000066757202,"wires":[["347afe5c.b64ed2","cfcb2d5a.98df8"]]},{"id":"e27d95eb.baff78","type":"ui_toast","z":"2bfab65f.0b09ca","position":"dialog","displayTime":"60","highlight":"red","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Power too low for the  current wind parameters!","name":"ALERT!","x":758.6000595092773,"y":569.4000091552734,"wires":[[]]},{"id":"cfcb2d5a.98df8","type":"function","z":"2bfab65f.0b09ca","name":"","func":"if(msg.payload < 150){\n    msg.payload = \"Power generated: \"+msg.payload+\" kW.\"\n    return msg;\n}","outputs":1,"noerr":0,"x":493.6000556945801,"y":569.0000085830688,"wires":[["e27d95eb.baff78"]]},{"id":"269a651.1a0ce9a","type":"function","z":"2bfab65f.0b09ca","name":"Initialize","func":"\nreturn msg;","outputs":1,"noerr":0,"x":353.6000061035156,"y":74.00000190734863,"wires":[["e0e08cf5.785c2"]]},{"id":"426f5c3a.25fa64","type":"ui_button","z":"2bfab65f.0b09ca","name":"","group":"c38ee725.bedc78","order":0,"width":"18","height":"1","passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":88,"y":102.00000095367432,"wires":[["269a651.1a0ce9a","e8fb05cc.a61448"]]},{"id":"9b81d051.661a5","type":"function","z":"2bfab65f.0b09ca","name":"","func":"var t11 = msg.payload\nglobal.set(\"t11\", t11)\nreturn msg;","outputs":1,"noerr":0,"x":235.60000610351562,"y":133,"wires":[["269a651.1a0ce9a"]]},{"id":"a094017a.9e44a","type":"function","z":"2bfab65f.0b09ca","name":"","func":"var dir11 = msg.payload\ngolbal.set(\"dir11\", dir11)\nreturn msg;","outputs":1,"noerr":0,"x":718.6000576019287,"y":124.00000095367432,"wires":[["2291bbb.bb29444"]]},{"id":"41d5257b.b377dc","type":"function","z":"2bfab65f.0b09ca","name":"","func":"var spd11 = msg.payload\nglobal.set(\"spd11\", spd11)\nreturn msg;","outputs":1,"noerr":0,"x":715.6000366210938,"y":171,"wires":[["ef933abb.8a0db8"]]},{"id":"e8fb05cc.a61448","type":"function","z":"2bfab65f.0b09ca","name":"","func":"var spd11 = global.get(\"spd11\")\nvar dir11 = global.get(\"dir11\")\nvar t11 = global.get(\"t11\")\nvar p11 = global.get(\"p11\")\n\nmsg.payload ={\n    _id : t11,\n    direction: dir11,\n    speed: spd11,\n    power: p11\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":533.6000366210938,"y":693,"wires":[["dc850e59.74f11"]]},{"id":"dc850e59.74f11","type":"cloudant out","z":"2bfab65f.0b09ca","name":"","cloudant":"","database":"power_stacking","service":"node-red-wnfdt-cloudant-1589966611172-54250","payonly":false,"operation":"insert","x":760.6000366210938,"y":681,"wires":[]},{"id":"e188993a.dcd438","type":"ui_group","z":"","name":"Wind Speed","tab":"160a398f.567616","order":2,"disp":true,"width":"8","collapse":false},{"id":"4e0a453e.2e65fc","type":"ui_group","z":"","name":"Weather Report","tab":"160a398f.567616","order":1,"disp":true,"width":"5","collapse":false},{"id":"d33212ee.0d6ab","type":"ui_group","z":"","name":"Wind Direction","tab":"160a398f.567616","order":3,"disp":true,"width":"5","collapse":false},{"id":"25724dff.d7a4c2","type":"ui_group","z":"","name":"Current Power","tab":"160a398f.567616","order":4,"disp":true,"width":"18","collapse":false},{"id":"c38ee725.bedc78","type":"ui_group","z":"","name":"Refresh","tab":"160a398f.567616","order":6,"disp":false,"width":"18","collapse":false},{"id":"160a398f.567616","type":"ui_tab","z":"","name":"P-Wind (Yalova Wind Farm)","icon":"dashboard","disabled":false,"hidden":false}]