NodeRED Flows/timeseries.json
[{"id":"707d088a.7c15d8","type":"tab","label":"TimeSeries","disabled":false,"info":""},{"id":"c57a118d.f7e7c","type":"inject","z":"707d088a.7c15d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"10800","crontab":"","once":true,"onceDelay":"5","x":100,"y":325.0000033378601,"wires":[["c2d07cb3.2e198"]]},{"id":"6cc395b4.1ce86c","type":"http request","z":"707d088a.7c15d8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/forecast?lat=40.655&lon=29.2769&appid=10a3f0449cc6a0d812a10f8c8cbffe2a","tls":"","persist":true,"proxy":"","authType":"","x":406.00000762939453,"y":257.00000381469727,"wires":[["c4defadb.097548"]]},{"id":"c4defadb.097548","type":"json","z":"707d088a.7c15d8","name":"String => JSON","property":"payload","action":"","pretty":true,"x":560.0000076293945,"y":191.00000286102295,"wires":[["60780d91.69f574","68775e80.72219"]]},{"id":"60780d91.69f574","type":"function","z":"707d088a.7c15d8","name":"[speed, direction]","func":"var i;\nmsg.spd = [];\nmsg.dir = [];\nmsg.res =[];\nmsg.time = []\nmsg.time2 = []\n\nfor(i=0; i<40; i++){\n    msg.spd.push(msg.payload.list[i].wind.speed)\n    msg.dir.push(msg.payload.list[i].wind.deg)\n    msg.time2.push(msg.payload.list[i].dt)\n    \n    var date = new Date(msg.payload.list[i].dt * 1000);\n    // Hours part from the timestamp\n    var hours = date.getHours();\n    // Minutes part from the timestamp\n    var minutes = \"0\" + date.getMinutes();\n    // Seconds part from the timestamp\n    var seconds = \"0\" + date.getSeconds();\n    // Will display time in 10:30:23 format\n    var formattedTime = hours;\n    msg.time.push(formattedTime)\n    \n    msg.res.push([msg.payload.list[i].wind.speed,msg.payload.list[i].wind.deg])\n}\n\nglobal.set(\"spd\", msg.spd)\nglobal.set(\"dir\", msg.dir)\nglobal.set(\"res\", msg.res)\nglobal.set(\"timer1\",msg.time)\nglobal.set(\"time2\", msg.time2)\nreturn msg;\n","outputs":1,"noerr":0,"x":796.0000381469727,"y":191.00000190734863,"wires":[["dc387ea4.d3c87","a69bf804.d41e08"]]},{"id":"a69bf804.d41e08","type":"function","z":"707d088a.7c15d8","name":"Split [speed, dir]","func":"var res=global.get(\"res\");\n// msg.timer = msg.payload\nmsg.payload=res\nreturn msg;","outputs":1,"noerr":0,"x":1001.0001373291016,"y":191.00001335144043,"wires":[["f75ba245.475ec"]]},{"id":"dc387ea4.d3c87","type":"debug","z":"707d088a.7c15d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":782.0000419616699,"y":234.00000190734863,"wires":[]},{"id":"f75ba245.475ec","type":"split","z":"707d088a.7c15d8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1162.00004196167,"y":191.00000190734863,"wires":[["3f5c3c4c.347004"]]},{"id":"aabafb04.07a9d8","type":"function","z":"707d088a.7c15d8","name":"PreToken","func":"\nvar apikey=\"g-5r8T9LLSzpixVczkuo2NDWCCNVWZpEEJMcgv6dGVbX\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nmsg.ans=msg.ans\n\nreturn msg;","outputs":1,"noerr":0,"x":1447.0000457763672,"y":252.00000381469727,"wires":[["1f486086.32e5cf"]]},{"id":"1f486086.32e5cf","type":"http request","z":"707d088a.7c15d8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":1425.0001678466797,"y":311.0000047683716,"wires":[["b031f60b.d63ce8"]]},{"id":"b031f60b.d63ce8","type":"function","z":"707d088a.7c15d8","name":"Pre Prediction","func":"\nvar array = msg.ans\nvar token=msg.payload.access_token\nvar instance_id=\"54cebaa7-c311-4633-9218-d1ac172b925c\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\nmsg.payload={\"fields\": [\"WindSpeed\", \"WindDirection\"], \"values\": [array]}\n\nreturn msg;","outputs":1,"noerr":0,"x":1386.0001678466797,"y":371.0000057220459,"wires":[["ce391b99.cbb0d8","9b236a1e.7f0a38"]]},{"id":"ce391b99.cbb0d8","type":"http request","z":"707d088a.7c15d8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/54cebaa7-c311-4633-9218-d1ac172b925c/deployments/7af8ee21-4f12-4d76-873a-f5dcb625b64f/online","tls":"","persist":false,"proxy":"","authType":"","x":1294.0001640319824,"y":429.0000066757202,"wires":[["3b159faa.7e612","f6b046a6.ad70a8"]]},{"id":"3b159faa.7e612","type":"debug","z":"707d088a.7c15d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.values[0][0]","targetType":"msg","x":1556.0000686645508,"y":428.0000114440918,"wires":[]},{"id":"3f5c3c4c.347004","type":"function","z":"707d088a.7c15d8","name":"[speed, dir] pairs","func":"msg.ans= msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":1326.00004196167,"y":190.00000381469727,"wires":[["aabafb04.07a9d8","bca40972.1ead68"]]},{"id":"bca40972.1ead68","type":"debug","z":"707d088a.7c15d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"ans","targetType":"msg","x":1329.00004196167,"y":145.00000667572021,"wires":[]},{"id":"5acbb45f.83599c","type":"function","z":"707d088a.7c15d8","name":"Pred axis","func":"var answer =[]\nglobal.set(\"answer\", answer)\nreturn msg;","outputs":1,"noerr":0,"x":280.00000762939453,"y":427.0000009536743,"wires":[[]]},{"id":"5dbd3a31.4532a4","type":"function","z":"707d088a.7c15d8","name":"[ Predictions ]","func":"answer = global.get(\"answer\")\nanswer.push(msg.payload)\nglobal.set(\"answer\", answer)\nreturn msg","outputs":1,"noerr":0,"x":1218.0000648498535,"y":537.0000084638596,"wires":[["68b735c3.436c1c"]]},{"id":"bc61f963.30a488","type":"function","z":"707d088a.7c15d8","name":"Get [Predicitons]","func":"msg.payload = global.get(\"answer\")\nreturn msg;","outputs":1,"noerr":0,"x":724.0000705718994,"y":695.0000095367432,"wires":[["7245340f.e364ec","ded71e15.9f89f"]]},{"id":"7245340f.e364ec","type":"debug","z":"707d088a.7c15d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730.0001220703125,"y":640.0000095367432,"wires":[]},{"id":"f6b046a6.ad70a8","type":"function","z":"707d088a.7c15d8","name":"Predicted Value","func":"msg.payload = msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":1258.6002616882324,"y":478.00000762939453,"wires":[["5dbd3a31.4532a4"]]},{"id":"ded71e15.9f89f","type":"function","z":"707d088a.7c15d8","name":"Pre-process for plot","func":"answer = global.get(\"answer\")\ntime = global.get(\"timer1\")\nvar m={\n    \"series\":[\"Power(kW)\"],\n    \"data\":[answer],\n    \"labels\":time\n};\n\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":852.0000343322754,"y":780.0000114440918,"wires":[["ae0824cf.53afb8","93e076e5.6aab98"]]},{"id":"ae0824cf.53afb8","type":"ui_chart","z":"707d088a.7c15d8","name":"Time Series","group":"6e478933.eafdb8","order":3,"width":"22","height":"10","label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":936.0000686645508,"y":853.0000133514404,"wires":[[]]},{"id":"68b735c3.436c1c","type":"countdown","z":"707d088a.7c15d8","name":"","topic":"","payloadTimerStart":"true","payloadTimerStartType":"bool","payloadTimerStop":"false","payloadTimerStopType":"bool","timer":"1","resetWhileRunning":false,"setTimeToNewWhileRunning":false,"startCountdownOnControlMessage":false,"x":257.6000556945801,"y":688.0000085830688,"wires":[[],["bc61f963.30a488"]]},{"id":"68775e80.72219","type":"debug","z":"707d088a.7c15d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":564.6000576019287,"y":137,"wires":[]},{"id":"22be2a07.4e3f96","type":"function","z":"707d088a.7c15d8","name":"Time axis","func":"var time =[]\nglobal.set(\"time\", time)\nreturn msg;","outputs":1,"noerr":0,"x":282.60000228881836,"y":377.0000009536743,"wires":[[]]},{"id":"9b236a1e.7f0a38","type":"debug","z":"707d088a.7c15d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1632.6000747680664,"y":371.0000057220459,"wires":[]},{"id":"93e076e5.6aab98","type":"function","z":"707d088a.7c15d8","name":"Index of Max Power","func":"msg.payload = global.get(\"answer\")\nvar maximumIndex = msg.payload.indexOf(Math.max(...msg.payload));\nglobal.set(\"index1\", maximumIndex)\nreturn msg;","outputs":1,"noerr":0,"x":963.200122833252,"y":723.0000114440918,"wires":[["82a70913.9f87f8"]]},{"id":"82a70913.9f87f8","type":"function","z":"707d088a.7c15d8","name":"Convert time to hours","func":"answer = global.get(\"answer\")\ntime = global.get(\"time2\")\nindex = global.get(\"index1\")\nvar power1 = Math.round(answer[index])\nvar time1 = time[index]\n\nvar months_arr = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];\n\nvar date = new Date(time1 * 1000);\n// Date\nvar day = date.getDate()\n//Month\n // Month\n var month = months_arr[date.getMonth()];\n// Hours part from the timestamp\nvar hours = date.getHours();\n// Minutes part from the timestamp\nvar minutes = \"0\" + date.getMinutes();\n// Seconds part from the timestamp\nvar seconds = \"0\" + date.getSeconds();\n// Will display time in 10:30:23 format\nvar formattedTime = hours +':'+ minutes.substr(-2) +' hrs'\n\nmsg.payload = \"On \"+day+\" \"+month+\" at \"+formattedTime+\" most power of \"+ power1+\" kW can be generated.\"\nreturn msg;","outputs":1,"noerr":0,"x":1249.2000885009766,"y":722.0000104904175,"wires":[["30812dfe.2bea32","4151b6c3.d49af8","63b77b68.a3e554"]]},{"id":"30812dfe.2bea32","type":"debug","z":"707d088a.7c15d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1096.6000671386719,"y":666.0000095367432,"wires":[]},{"id":"4151b6c3.d49af8","type":"ui_toast","z":"707d088a.7c15d8","position":"dialog","displayTime":"60","highlight":"red","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Optimal Time:","name":"Optimal Time","x":1467.0000915527344,"y":723.0000104904175,"wires":[[]]},{"id":"63b77b68.a3e554","type":"ui_toast","z":"707d088a.7c15d8","position":"top right","displayTime":"1800","highlight":"#30336b","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Optimal Time:","name":"Optimal TIme Static","x":1488.9999923706055,"y":777.0000114440918,"wires":[]},{"id":"6e6fcac0.e4fcd4","type":"ui_button","z":"707d088a.7c15d8","name":"","group":"7aeaad63.ea5a24","order":0,"width":"22","height":"1","passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":117.60000228881836,"y":371.40000438690186,"wires":[["c2d07cb3.2e198"]]},{"id":"c2d07cb3.2e198","type":"function","z":"707d088a.7c15d8","name":"Initialize","func":"\nreturn msg;","outputs":1,"noerr":0,"x":274.60000228881836,"y":323.0000009536743,"wires":[["6cc395b4.1ce86c","5acbb45f.83599c","22be2a07.4e3f96"]]},{"id":"6c2c2e14.2b27d","type":"debug","z":"707d088a.7c15d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":991.4000244140625,"y":43,"wires":[]},{"id":"6e478933.eafdb8","type":"ui_group","z":"","name":"Time Series ","tab":"92ccdb6b.8fc6c8","order":1,"disp":true,"width":"22","collapse":false},{"id":"7aeaad63.ea5a24","type":"ui_group","z":"","name":"Refresh","tab":"92ccdb6b.8fc6c8","order":2,"disp":false,"width":"22","collapse":false},{"id":"92ccdb6b.8fc6c8","type":"ui_tab","z":"","name":"Power vs Time","icon":"dashboard","disabled":false,"hidden":false}]